body{
    background: url(/assets/imagenes/fondo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
}

#log{
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    height: 20%;
    width: 30%;
    background-color: #b21f2d;
}
#logBanco{
    margin-top: 8%;
    margin-right: 6%;
    margin-left: 2%;
    margin-bottom: auto;
    height: 20%;
}
button,
#dropdownMenuLink{
    margin-bottom: 1%;
}
#hederButton,
#dropHeder,
#headOptions,
#showDrop{
    float: right;
    margin-left: 1%;
    margin-right: 1%;
    position: inherit;
}

.dropdown,
.navbar{
    width: 100%;
    height: 2%;
    background-color: #ffc107;
    border-color: #b21f2d;
}

.btn-primary {
    color: #fff;
    background-color: #b21f2d;
    border: none;
}

.btn-primary:hover {
    color: #b21f2d;
    background-color: #fff;
    border: none;
}

.btn-secondary {
    color: #fff;
    background-color: #b21f2d;
    border: none;
}

a{
    text-decoration: none;
    outline: none;
}

.btn-secondary:hover {
    color: #b21f2d;
    background-color: #fff;
    border: none;
}

#fondoTabla{
    height: available; 
    position: relative; 
    margin-top: 2%;  
    margin-left: 10%; 
    margin-right: 10%; 
    margin-bottom: auto; 
    background-color: rgba(255, 255, 255, 0.5);
}

#fondoTablaP{
    height: available; 
    position: relative; 
    margin-left: 20%; 
    margin-right: 20%; 
    margin-bottom: auto; 
    background-color: rgba(255, 255, 255, 0.5);
}

#container{
    margin: 20px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

#perfil{
    text-align: center;
    margin: 20px;
    color: white;
}

.dropdown-item:hover{
    text-decoration: none;
    outline-style: none;
    border-radius: 20px;
    background-color: #b21f2d;    
}

table{
    color: white;
    left: 200px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.5);
}

#form table{
    margin-left: 25%;
    margin-right: 20%;
    text-align: center;
    align-content: center;
    background-color: #b21f2d;
}

#PerfilTable{
    margin-left: auto;
    margin-right: auto;
    width: content-box;
    background-color: rgba(255, 255, 255, 0.5);
}

#centro{
    text-align: center;
    width: content-box;
}

tr{
    text-align: left;
}

td{
    border: none;
}

table #colcorta{
    width: 3%;
}
#VinculaButton{
    border-color: #004085;
    background-color: white;
    color: black;
    margin: 1%;
    margin-left: 45%;
    margin-right: 45%;
}

#marg{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%; 
    top: -10px;
}

#formT{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    
}

#fondoTablaform{ 
    margin-left: 30%; 
    margin-right: 30%; 
    background-color: rgba(255, 255, 255, 0.5);
}

#TituloVista{
    text-align: center;
}

#perfil{
    color: black;
}